.newField {
  width: 100%;
  display: flex;
}

.newFieldContainer {
  flex: 6;
  padding: 20px;
}

.newFieldTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newFieldBottom {
  display: flex;
  margin-top: 20px;
}

.newFieldLeft,
.newFieldRight {
  flex: 1;
}

.newFieldLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
}

.newFieldRight {
  form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .newFieldFormInput {
      width: calc(50% - 20px);
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 10px;
        font-size: 14px;
        color: #555;
        width: 200px;
      }

      input {
        padding: 10px;
        border: 1px solid lightgray;
        border-radius: 5px;
      }

      &.checkboxInput {
        flex-direction: row;
        align-items: center;

        input[type='checkbox'] {
          margin-left: 10px;
          width: auto;
        }
      }
    }

    button {
      width: 100%;
      padding: 10px;
      border: none;
      background-color: #007bff;
      color: white;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;
      margin-top: 20px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

.newFieldIcon {
  cursor: pointer;
  margin-left: 5px;
  color: #007bff;
}
