.about_container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .about_container h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .about_container h2 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .about_container p {
    margin-bottom: 15px;
  }
  
  .about_container ul {
    margin-bottom: 15px;
  }
  
  .about_container button {
    background-color: white;
    color: #4CAF50;    
    font-size: 16px;

    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* .about_container button:hover {
    background-color: #45a049;
  } */
  
  .answer {
    padding: 10px;
    background-color: #f0f0f0;
    border-left: 3px solid #4CAF50;
    margin-left: 10px;
    margin-bottom: 15px;
  }
  
  .answer.active {
    display: block;
  }
  
  .terms, .privacy {
    margin-top: 30px;
  }
  
  .terms p, .privacy p {
    margin-bottom: 15px;
  }
  
  .terms ul, .privacy ul {
    margin-left: 20px;
  }
  
  .terms ul li, .privacy ul li {
    margin-bottom: 5px;
  }
  