/* bookings.css */

.about-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .about-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sort-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .sort-button button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    /* transition: background-color 0.3s ease; */
  }
  
  .sort-button button:hover {
    background-color: #007bff;
  }
  
  .reservation-list {
    list-style: none;
    padding: 0;
  }
  
  .reservation-item {
    margin-bottom: 20px;
    padding: 25px; /* Увеличиваем внутренний отступ */
    border: 2px solid #ccc; /* Увеличиваем толщину рамки */
    border-radius: 10px; /* Увеличиваем радиус скругления углов */
    position: relative; /* Добавляем позиционирование для кнопки "Удалить" */
    width: 100%;
  }
  
  
  .reservation-item p {
    margin: 5px 0;
  }
  
  .reservation-item button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reservation-item button:hover {
    background-color: #c82333;
  }

  
  .empty-message {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: #6c757d;
  }
.message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    animation: slideIn 0.5s ease forwards, slideOut 0.5s ease 2.5s forwards;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-50%) translateY(-100%);
    }
    to {
      transform: translateX(-50%) translateY(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(-50%) translateY(0);
    }
    to {
      transform: translateX(-50%) translateY(-100%);
    }
  }
  