.header {
  display: flex;
  font-family: 'Inter' sans-serif;
  justify-content: space-around;
  padding: 15px 0px 0px;    
  color: #333; 
  /* border-bottom: 1px solid #ddd;  */
}
.logo {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: #1BA90F; 
}
.nav {
  display: flex;
  width: 550px;
}
.nav a {
  font-size: 16px;
  margin-right: 120px;
  text-decoration: none;
  color: #333; 
  
  transition: color 0.3s ease;
}
.nav a.active {
  font-weight: bold;
}

.button-container {
  display: flex;
  align-items: center; 
}

.button-container button:hover {
  background-color: #f2f2f2; 
}

.button-primary {
  margin-right: 20px;
  padding: 8px 20px;
  font-size: 16px;
  border: 2px solid #1BA90F; 
  border-radius: 5px;
  background-color: white; 
  color: #1BA90F; 
  cursor: pointer;
}

.button-secondary {
  margin-right: 30px;
  padding: 9px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white; 
  cursor: pointer;
  background-color: #1BA90F; 
}

.line {
  margin-top: -20px;
  padding: 0 0 30px;
  width: 400px;
  margin-left: 27.5%;
}

.line-part {
  height: 2px;
  display: inline-block;
}
